<%= form_for(@comment, html: {class: 'form-horizontal'} ) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-8 col-xs-8">
      <div class="field">
        <% if @post_image.name %>
          <%= image_tag @post_image.name.url, class: "img-responsive" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-xs-4">
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit class: "btn btn-primary btn-lg"%>
      </div>
    </div>

  </div>

  <%= f.hidden_field :user_id,       value: current_user.id %>
  <%= f.hidden_field :post_image_id, value: @post_image.id %>

<% end %>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <p>
      <%= @post_image.description %>
    </p>
  </div>
</div>

<table class="table table-striped table-hover ">
  <thead>
    <% @comments.each do |comment| %>
    <tr>
      <th class="col-xs-4 col-md-8">
        <%= comment.user.email %>
      </th>
      <td class="col-xs-4 col-md-8">
        <%= comment.description %>
      </td>
    </tr>
    <% end %>
  </thead>
</table>



