
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="well bs-component">
        <h1>New comment</h1>

        <%= render 'form' %>

        <%= link_to 'Back', comments_path, {class: "btn btn-default"}  %>

      </div>
    </div>
  </div>
</div>
