
<td class="col-md-4 col-xs-4">

  <p class="td-inner-top">
    <%= post_image.description %>
  </p>
  <p class="td-inner-middle">
    <% @comments.each do |comment| %>
      <%= comment.description if comment.post_image_id == post_image.id %>
    <% end %>
  </p>

</td>
