
<td class="col-md-8 col-xs-8">
  <%= link_to_if_with_block post_image.comment_able,
  ({controller: :comments, action: :new, id: post_image.id}) do %>
    <% if post_image.name %>
      <%= image_tag post_image.name.url, class: "img-responsive" %>
    <% end %>
  <% end %>
</td>

