
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-xs-offset-1 col-md-10 col-xs-10">
      <div class="well bs-component">
        <h1>Home#index</h1>
        <table>
          <% @post_images.each.with_index do |post_image, index| %>
            <tr>
              <% if index % 2 == 0 %>
                <%= render partial:'home_td_image', locals: { post_image: post_image } %>
                <%= render partial:'home_td_discription', locals: { post_image: post_image, comments: @comments } %>
              <% else %>
                <%= render partial:'home_td_discription', locals: { post_image: post_image, comments: @comments } %>
                <%= render partial:'home_td_image', locals: { post_image: post_image } %>
              <% end %>
            </tr>
          <% end %>
        </table>
        <%= paginate @post_images %>

      </div>
    </div>
  </div>
</div>

