
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="well bs-component">

        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %>Remember Me?
            </label>
          </div>
        </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>

    </div>
  </div>
</div>

