// Place all the styles related to the welcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  jumbotron
/--------------------------------- */
.jumbotron {
  background: url("http://www.lucnix.be/d/304708-2/Stephanie-Anthony--2014-06-21--17_43_57.jpg");
  background-size: cover;

  h1, p {
    color: #eee;
  }
}
