
<div class="navbar navbar-inverse">
  <div class="navbar-header">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  <%=link_to root_path, class: "navbar-brand" do%><i class="glyphicon glyphicon-home"></i><% end %>
  </div>

  <div class="navbar-collapse collapse navbar-inverse-collapse">

    <ul class="nav navbar-nav">
      <li class="active"><a href="javascript:void(0)">Active</a></li>
      <li><a href="javascript:void(0)">Link</a></li>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
          Dropdown&nbsp;<b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
          <li><%= link_to 'My Post Images', post_images_path %></li>
          <li><%= link_to 'home', home_path %></li>
          <li><a href="javascript:void(0)">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Dropdown header</li>
          <li><a href="javascript:void(0)">Separated link</a></li>
          <li><a href="javascript:void(0)">One more separated link</a></li>
        </ul>
      </li>

    </ul>

    <form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>

    <ul class="nav navbar-nav navbar-right">

      <%- if user_signed_in? -%>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
          <%= current_user.email %>&nbsp;<b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>

      <% else %>
      <li><%= link_to "Log in", new_user_session_path %></li>
      <%- end -%>

    </ul>

  </div>
</div>