<%= form_for(@post_image, html: {class: 'form-horizontal'}) do |f| %>
<% if @post_image.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post_image.errors.count, "error") %> prohibited this post_image from being saved:</h2>

  <ul>
    <% @post_image.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="field form-group col-lg-10">
  <% if @post_image.name %>
    <%= image_tag @post_image.name.url, class: "img-responsive" %>
  <% end %>
  <%= f.label :name %><br>
  <input type="text" readonly="" class="form-control floating-label" placeholder="ファイルを選択...">
  <%= f.file_field :name, id: :inputFile %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description, class: "form-control" %>
</div>
<div class="field">
  <%= f.label :open_date %><br>
  <%= f.text_field :open_date, class: "form-control", id: "datetimepicker1" %>
</div>
<div class="field">
  <%= f.label :close_date %><br>
  <%= f.text_field :close_date, class: "form-control", id: "datetimepicker2" %>
</div>
<div class="field">
  <%= f.label :limit %><br>
  <%= f.number_field :limit, class: "form-control" %>
</div>
<div class="field checkbox">
  <label>
    <%= f.check_box :visible %>表示/非表示
  </label>
</div>
<div class="field checkbox">
  <label>
    <%= f.check_box :comment_able %>コメント可/不可
  </label>
</div>
<div class="actions">
  <%= f.submit '登録', class: "btn btn-primary btn-lg" %>
</div>
<%= f.hidden_field :user_id, value: current_user.id %>
<% end %>
