
<div class="container-fluid">
  <h1>Editing post_image</h1>

    <div class="row center-block">

      <div class="col-md-offset-3 col-md-6">
        <div class="well bs-component">
          <%= render 'form' %>
        </div>
        <%= link_to 'Show', @post_image,      {class: "btn btn-default"} %> |
        <%= link_to 'Back', post_images_path, {class: "btn btn-default"} %>
      </div>

    </div>

</div>
