
<div class="container-fluid">
  <div class="row center-block">
    <div class="col-md-12">

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-xs-10 col-md-4">Name</th>
            <th class="hidden-xs col-md-4">Description</th>
            <th class="hidden-xs col-md-2">Visible</th>
            <th class="col-xs-2  col-md-2"></th>
          </tr>
        </thead>

        <tbody>
          <% @post_images.each do |post_image| %>
            <tr>
              <td><%= image_tag post_image.name.url, class: "img-responsive" %></td>
              <td class="hidden-xs col-md-4"><%= post_image.description %></td>
              <td class="hidden-xs col-md-2"><%= post_image.visible %></td>
              <td>
                <%= link_to 'Show', post_image, {class: "btn btn-flat btn-success"} %><br>
                <%=
                    link_to 'Edit',
                    edit_post_image_path(post_image),
                    {class: "btn btn-flat btn-info"}
                %><br>
                <%=
                    link_to 'Destroy',
                    post_image,
                    method: :delete,
                    class: "btn btn-flat btn-danger",
                    data: { confirm: 'Are you sure?' }
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @post_images %>

      <br>

      <%= link_to 'New Post image', new_post_image_path, {class: "btn btn-default"} %>

    </div>
  </div>
</div>

