
<div class="container-fluid">
  <div class="row center-block">
    <div class="col-md-offset-3 col-md-6">
      <div class="well bs-component">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Name:</strong>
          <%= @post_image.name %>
        </p>

        <p>
          <%= image_tag @post_image.name.url, class: "img-responsive" %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= @post_image.description %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @post_image.user_id %>
        </p>

        <p>
          <strong>Open date:</strong>
          <%= @post_image.open_date %>
        </p>

        <p>
          <strong>Close date:</strong>
          <%= @post_image.close_date %>
        </p>

        <p>
          <strong>Limit:</strong>
          <%= @post_image.limit %>
        </p>

        <p>
          <strong>Visible:</strong>
          <%= @post_image.visible %>
        </p>

        <p>
          <strong>Comment able:</strong>
          <%= @post_image.comment_able %>
        </p>

        <p>
          <strong>Deleted at:</strong>
          <%= @post_image.deleted_at %>
        </p>

        <%= link_to 'Edit', edit_post_image_path(@post_image), {class: "btn btn-flat btn-info"} %> |
        <%= link_to 'Back', post_images_path, {class: "btn btn-default"} %>

      </div>
    </div>
  </div>
</div>

