<!DOCTYPE html>
<html>
<head>
  <title>Barcelona</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.0/css/ripples.min.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.0/css/material.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'header' %>

  <% if notice %>
  <p class="alert alert-success alert-dismissible"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger alert-dismissible"><%= alert %></p>
  <% end %>

  <%= yield %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script>
  $(function() {

    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
    $.material.init();
    $('.dropdown-toggle').dropdown();

  });
  </script>

</body>
</html>
